@charset "utf-8";

* {
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 420px;
    height: auto;
    margin: 10px auto 10px auto;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    background-color: rgb(174, 219, 213);
    justify-content: start;
    align-content: center;
    border-radius: 20px;
}

header {
    height: 50px;
    width: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #fff;
}

.keys {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 30px;
    border: none;
    line-height: 30px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: width 1s;
    background-color: rgb(174, 219, 213);
    color: white;
}


input:hover {
    width: 60px;
}

select {
    width: auto;
    appearance: none;
    border: none;
    padding: 2px;
    margin: 0;
    width: 100%;
    line-height: 30px;
    letter-spacing: 1px;
    outline: none;
    text-align: center;
}

select:hover {
    animation: change 0.5s;
    background-color: rgb(174, 219, 213);
}

select:not(:hover) {
    animation: rechange 0.5s;
    background-color: white;
}

@keyframes change {
    from {background-color: white;}
    to {background-color:  rgb(174, 219, 213);}
  }

  @keyframes rechange {
    from {background-color:  rgb(174, 219, 213);}
    to {background-color: white;}
  }

.select {
    border-radius: 3px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-left: 5px;
    border: none;
    cursor: pointer;
}

option{
    border-radius: 3px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    border: none;
}
 
#image {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 600px;
    align-self: flex-end;
    margin-bottom: 10px;
    display: none;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
}

img {
    max-height: 500px;
    width: auto;
}
